@model IEnumerable<CarGlam.Models.Center>

@{
    ViewData["Title"] = "Index";
}

<h1>Centers</h1>

<p>
    <a asp-action="Create">Add Center</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CenterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CenterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CenterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CenterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
