@model IEnumerable<CarGlam.Models.SalePerson>

@{
    ViewData["Title"] = "Index";
}

<h1>SalePerson</h1>

<p>
    <a asp-action="Create">Add Saleholder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalePersonsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalePersonsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalePersonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalePersonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalePersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
